 .userform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
} 
.clsinput[type=text], .clsinput[type=password] , .clsinput[type=email],.clsinput[type=tel] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid grey;
}
.clsbutton {
    background-color: #2167ca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}
.clsbutton:hover {
    opacity: 0.8;
}
.register {
    margin-top: 20px;
    text-align: center;
}
.register a {
    color: blue;
}